h1,h2{
    font-family: Oswald,sans-serif;
}
body{
    font-family: "Open Sans",sans-serif;
    color: White;
    margin: 10px 50px 10px 50px;
    background-color: black;
    font-weight: bold;
    font-size: larger;

}
.left{
    float: left;
    width: 300px;
    padding: 1em;

}
.right{
    float: right;
    width: 300px;
    padding: 1em;

}
.center{
    margin-left: 300px;
    margin-right: 300px;
    width: 300px;
    padding: 1em;
    
}
#image {
    float: left;
    margin: 10px;
}
